@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');


body {
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "DM Mono", monospace;
}

.slot-machine {
  text-align: center;
}

.reels-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

@media only screen and (max-width: 360px) {
  .reel {
    display: block;
    width: 25vw;
    height: 40vh;
    background-color: #3a3a3a;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 10px;
    box-shadow: 0px 14px 15px -5px rgba(0, 0, 0, 0.3) inset,
      1px -14px 15px -5px rgba(0, 0, 0, 0.3) inset;
    border: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
  }

  .symbol {
    font-size: 19.4vw;
    height: 1.65em;
    opacity: 0.7;
  }
}

@media only screen and (min-width: 361px) and (max-width: 600px) {
  .reel {
    display: block;
    width: 25vw;
    height: 40vh;
    background-color: #3a3a3a;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 10px;
    box-shadow: 0px 14px 15px -5px rgba(0, 0, 0, 0.3) inset,
      1px -14px 15px -5px rgba(0, 0, 0, 0.3) inset;
    border: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
  }

  .symbol {
    font-size: 8vh;
    height: 1.65em;
    opacity: 0.7;
  }
}

@media only screen and (min-width: 601px) {
  .reel {
    display: block;
    width: 191px;
    height: 310px;
    background-color: #3a3a3a;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 10px;
    box-shadow: 0px 14px 15px -5px rgba(0, 0, 0, 0.3) inset,
      1px -14px 15px -5px rgba(0, 0, 0, 0.3) inset;
    border: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
  }

  .symbol {
    font-size: 4em;
    height: 1.65em;
    opacity: 0.7;
  }
}

.symbol img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.controls .btn {
  margin: 3em 0 1em 0;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.controls .message {
  font-size: 1.5em;
  color: #ebb701;
}

.header {
  margin-bottom: 20px;
  padding: 10px;
}

.header h1 {
  display: inline-flex;
  font-family: "Ultra", serif;
  font-size: 11vw;
  line-height: .9;
  margin: 0;
  color: #ebb701;
  max-width: 10ch;
}

@media screen and (min-width: 800px) {
  .header h1 {
    display: inline-flex;
    font-family: "Ultra", serif;
    font-size: 6em;
    line-height: .9;
    margin: 0;
    color: #ebb701;
    max-width: 10ch;
  }
}

.header p {
  font-size: 1.2em;
  margin-top: 10px;
  color: white;
}